#map {
    position: relative;   /* ← これ超重要 */
    display: inline-block;
}

#map img {
    width: 800px;         /* ← サイズ固定 */
    display: block;
}

.antenna{
    position:absolute;
    width:10px;
    height:50px;
    border-radius:50%;
    background:rgba(255,255,255,0.7);
    cursor:pointer;
    transition:0.2s;

    transform: translate(-50%, -50%);  /* ← これ追加 */
}

.antenna.active {
    background: red;
}
